.transition-default {
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .container {
    @apply fixed inset-x-0 top-0 z-20 flex justify-between items-center p-4 duration-300;
  }

  .container .section-links {
    @apply flex fixed;
  }
  
  .container:hover {
    @apply duration-300 shadow-xl;
  }

  .container .menu {
    @apply fixed opacity-100 duration-150;
  }

  .container:hover .menu {
    @apply opacity-0 duration-150;
  }

  .container .section-links div {
    cursor: pointer;
    box-sizing: content-box;
    @apply opacity-0 duration-300;
  }

  .container:hover .section-links div {
    padding: 0 0.5em;
    @apply opacity-100 duration-300;
  }
  
  @screen lg {
    .container {
      @apply inset-x-auto inset-y-0 right-0 flex-col;
    }
  
    .container:hover .menu {
      @apply h-4;
    }
  
    .container .section-links {
      @apply flex-col;
    }
  
    .container:hover .section-links div {
      padding: 0.6em 0;
    }
  
    .container .section-links div:hover {
      color: theme("colors.green.500");
      @apply transition-default;
    }
  }